#main{
    border: 1px solid rgb(67, 66, 66);
    border-radius: 5px;
    width: 200px;
    margin: 5px 5px;
}
#display{
    margin: 10px;
    width: 85%;
    border-radius:5px;
    font-size:25px;
}

#buttons{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.button-class{
    width:45px;
    height:45px;
    margin:3px;
}